---
layout: home
---

<div id="screenshot-slider">
	<img src="{{ site.baseurl }}/images/brackets-plugin-quick-edit.png" alt="">
	<img data-src="{{ site.baseurl }}/images/brackets-plugin-function-list.png" src="" alt="">
	<img data-src="{{ site.baseurl }}/images/brackets-plugin-select-sketch.png" src="" alt="">
	<img data-src="{{ site.baseurl }}/images/brackets-plugin-serial-port.png" src="" alt="">
</div>

<script type="text/javascript">
	var slider = new IdealImageSlider.Slider({
		selector: '#screenshot-slider',
		height: 461,
		effect: 'fade',
//		interval: 2000
	});
	slider.start();
</script>

<h2>Try it!</h2>

<a class="huge" href="{{ site.baseurl }}/cli">Install cli</a><a class="huge" href="{{ site.baseurl }}/gui">Install GUI</a>

<h2>News</h2>

<div class="posts clearfix">
	{% for post in site.posts %}
	<article class="post">
		<div class="eyebrow">{{ post.date | date: "%d %b %Y" }}</div>
		<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

		<div class="entry">
			<p>{{ post.desc }}</p>
			{% if post.lead %}
				{{ post.lead | truncatewords:40}}
			{% else %}
				{{ post.content | truncatewords:40}}
			{% endif %}
		</div>

		{% if post.proj-url and post.proj-url != "" and post.proj-url != nil %}
		<a href="{{ post.proj-url }}" class="small-link primary-link" target="_blank">View Project Site <i class="fa fa-external-link"></i></a>
		{% endif %}
		<a href="{{ site.baseurl }}{{ post.url }}" class="small-link">Read details</a>
	</article>
	{% endfor %}
</div>
