    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <nav>
            <a href="https://github.com/apla/brackets-cuwire"><i class="fa fa-github-alt"></i> Fork it on Github</a>
            <a href="{{ site.baseurl }}/install">Install</a>
            <a href="{{ site.baseurl }}/platforms">Platforms</a>
            <a href="{{ site.baseurl }}/features">Features</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>
