	<div class="wrapper-masthead">
		<div class="container">
		<header class="masthead clearfix">

			<!--a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a-->

			<nav>
			<a href="https://github.com/apla/brackets-cuwire" class="brackets">Brackets plugin</a>
			<a href="https://github.com/apla/cuwire">
				<span class="fa-stack">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
				</span>
				cli</a>
				<div>Github: </div>
			<a href="{{ site.baseurl }}/install">Install</a>
			<a href="{{ site.baseurl }}/cli/">Terminal Usage</a>
			<a href="{{ site.baseurl }}/gui/">IDE</a>
			<a href="{{ site.baseurl }}/about">About</a>
			</nav>
			<h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
		</header>
		</div>
	</div>
