#cuwire-sidebar-icon {
	background-image: url(logo.svg);
	background-size: 24px;
}

#cuwire-panel {}
#cuwire-panel .toolbar {
	overflow: visible;
}
#cuwire-panel span.title {
	margin-right: 5em;
}

#cuwire-panel .table-container td:first-of-type {
	width: 5em;
	font-size: inherit !important;
}


#cuwire-panel .table-container tr.error td {
	background-color: rgb(255, 94, 138);
	color: white;
	font-size: larger;
}

#cuwire-panel .table-container tr.done td {
	background-color: #39c0c4;
	color: white;
	font-size: larger;
}


#cuwire-panel ul.dropdown-menu {
	height: auto;
	max-height: 300px;
	overflow-x: hidden;
}

#cuwire-panel ul.dropdown-menu .dropdown-header {
	padding: 5px 10px;
	background-color: #f3f3f3;
}

#cuwire-panel button.with-chip {
	padding-left: 24px;
	background: url(chip.svg) 4px 4px no-repeat;
}

#cuwire-panel button.with-plug {
	padding-left: 24px;
	background: url(plug.svg) 4px 4px no-repeat;
}

#cuwire-panel .pie {
	text-indent: -9999rem;
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
/*	margin: 1rem 90%;*/
	margin: 3px;
	/*background:
	linear-gradient(-90deg, #2ecc71 50%, transparent 50%),
	linear-gradient(180deg, #2c3e50 50%, #2ecc71 50%);*/
	position: relative;
	transition: all .5s;
}

#cuwire-panel .pie:after {
	content: attr(data-percentage) '%';
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	background: #2c3e50;
	position: absolute;
	top: .25rem;
	left: .25rem;
/*	transform: translate(-50%, -50%);*/
	font-size: .875rem;
	text-align: center;
	text-indent: 0;
	color: white;
	line-height: 2.5rem;
}

#cuwire-panel .pie-label {
/*
	-webkit-transform: rotate(270deg) translateX(-2.5rem);
	-webkit-transform-origin: left top 0;
*/
	float: right;
	margin-right: 10%;
	text-align: right;
}
#cuwire-panel .pie-label span.t {
	text-align: center;
	font-weight: bold;
}

#cuwire-panel .process-state {
	overflow-y: hidden;
}

#cuwire-panel .process-state .label {
	display: none;
	color: white;
	font-size: 1rem;
	margin-top: 1em;
	padding: .5em 0;
	text-align: center;
	width: 90%;
}

#cuwire-panel .process-state.success .label-success {
	display: inherit;
}
#cuwire-panel .label-success {
	background-color: #39c0c4;
}


#cuwire-panel .process-state.failure .label-important {
	display: inherit;
}
#cuwire-panel .label-important {
	background-color: rgb(255, 94, 138);
}


#cuwire-panel .process-state.running .label-info {
	display: inherit;
}
#cuwire-panel .label-info {
	background-color: rgb(54, 65, 80);
}

form#cuwire-board-mod label {
	display: inline;
}

.cuwire-sketch-select button[data-button-id^="cuwire-sketch-"],
.cuwire-sketch-select button[data-button-id^="cuwire-sketch-"]:active {
/*
	background-color: #39c0c4;
	color: white;
*/
	background-image: url(logo.svg);
	background-size: 36px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 40px;
	width: 50px;
}

.cuwire-sketch-select li {
	transition: all .2s;
	padding: 10px 10px 0 10px;
	border-radius: 5px;
}

.cuwire-sketch-select li:hover {
	background-color: white;
}
