
/***********************/
/* SYNTAX HIGHLIGHTING */
/***********************/

.highlight {
	background-color: $darkerGray;
	padding: 5px 10px;
	margin: 20px 0;
}

.highlight pre {
	/* overflow: scroll; Prefer no word wrap? Uncomment this line and comment out the 2 lines below. */
	word-break: break-all;
	word-wrap: break-word;
}

code {
	font-family: 'Courier', monospace;
//  font-size: 14px;
	color: #999
}

.highlight {
	code, pre{color:#fdce93;background-color:#3f3f3f}
	.hll{background-color:#222}
	/* Comment */
	.c, .c1 { color: #7f9f7f }
	/* Error */
	.err{color:#e37170;background-color:#3d3535}
	/* Generic */
	.g{color:#7f9f7f}
	/* Keyword */
	.k{color:#f0dfaf}
	/* Literal */
	.l{color:#ccc}
	/* Name */
	.n{color:#dcdccc}
	/* Operator */
	.o{color:#f0efd0}
	/* Other */
	.x{color:#ccc}
	/* Punctuation */
	.p{color:#41706f}
	/* Comment.Multiline */
	.cm{color:#7f9f7f}
	/* Comment.Preproc */
	.cp{color:#7f9f7f}
	/* Comment.Single */
	.c1{color:#7f9f7f}
	/* Comment.Special */
	.cs{color:#cd0000;font-weight:bold}
	/* Generic.Deleted */
	.gd{color:#cd0000}
	/* Generic.Emph */
	.ge{color:#ccc;font-style:italic}
	/* Generic.Error */
	.gr{color:red}
	/* Generic.Heading */
	.gh{color:#dcdccc;font-weight:bold}
	/* Generic.Inserted */
	.gi{color:#00cd00}
	/* Generic.Output */
	.go{color:gray}
	/* Generic.Prompt */
	.gp{color:#dcdccc;font-weight:bold}
	/* Generic.Strong */
	.gs{color:#ccc;font-weight:bold}
	/* Generic.Subheading */
	.gu{color:purple;font-weight:bold}
	/* Generic.Traceback */
	.gt{color:#0040D0}
	/* Keyword.Constant */
	.kc{color:#dca3a3}
	/* Keyword.Declaration */
	.kd{color:#ffff86}
	/* Keyword.Namespace */
	.kn{color:#dfaf8f;font-weight:bold}
	/* Keyword.Pseudo */
	.kp{color:#cdcf99}
	/* Keyword.Reserved */
	.kr{color:#cdcd00}
	/* Keyword.Type */
	.kt{color:#00cd00}
	/* Literal.Date */
	.ld{color:#cc9393}
	/* Literal.Number */
	.m{color:#8cd0d3}
	/* Literal.String */
	.s{color:#cc9393}
	/* Name.Attribute */
	.na{color:#9ac39f}
	/* Name.Builtin */
	.nb{color:#efef8f}
	/* Name.Class */
	.nc{color:#efef8f}
	/* Name.Constant */
	.no{color:#ccc}
	/* Name.Decorator */
	.nd{color:#ccc}
	/* Name.Entity */
	.ni{color:#c28182}
	/* Name.Exception */
	.ne{color:#c3bf9f;font-weight:bold}
	/* Name.Function */
	.nf{color:#efef8f}
	/* Name.Label */
	.nl{color:#ccc}
	/* Name.Namespace */
	.nn{color:#8fbede}
	/* Name.Other */
	.nx{color:#ccc}
	/* Name.Property */
	.py{color:#ccc}
	/* Name.Tag */
	.nt{color:#9ac39f}
	/* Name.Variable */
	.nv{color:#dcdccc}
	/* Operator.Word */
	.ow{color:#f0efd0}
	/* Text.Whitespace */
	.w{color:#ccc}
	/* Literal.Number.Float */
	.mf{color:#8cd0d3}
	/* Literal.Number.Hex */
	.mh{color:#8cd0d3}
	/* Literal.Number.Integer */
	.mi{color:#8cd0d3}
	/* Literal.Number.Oct */
	.mo{color:#8cd0d3}
	/* Literal.String.Backtick */
	.sb{color:#cc9393}
	/* Literal.String.Char */
	.sc{color:#cc9393}
	/* Literal.String.Doc */
	.sd{color:#cc9393}
	/* Literal.String.Double */
	.s2{color:#cc9393}
	/* Literal.String.Escape */
	.se{color:#cc9393}
	/* Literal.String.Heredoc */
	.sh{color:#cc9393}
	/* Literal.String.Interpol */
	.si{color:#cc9393}
	/* Literal.String.Other */
	.sx{color:#cc9393}
	/* Literal.String.Regex */
	.sr{color:#cc9393}
	/* Literal.String.Single */
	.s1{color:#cc9393}
	/* Literal.String.Symbol */
	.ss{color:#cc9393}
	/* Name.Builtin.Pseudo */
	.bp{color:#efef8f}
	/* Name.Variable.Class */
	.vc{color:#efef8f}
	/* Name.Variable.Global */
	.vg{color:#dcdccc}
	/* Name.Variable.Instance */
	.vi{color:#ffffc7}
	/* Literal.Number.Integer.Long */
	.il{color:#8cd0d3}

}
