<!DOCTYPE html>
<html>
	<head>

	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}//assets/ideal-image-slider.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}//assets/ideal-image-slider-theme-default.css" />
		{% include common-head.html %}
		<script src="{{ site.baseurl }}/assets/ideal-image-slider.min.js"></script>
	</head>

	<body id="home">
	<div class="content-wrapper">

	{% include masthead.html %}


	<div class="container">
		<p class="site-description">{{ site.description }}</p>
	</div>

	<div id="main" role="main" class="container">
		{{ content }}
	</div>

	</div><!-- /content-wrapper -->

	{% include footer.html %}

	{% include analytics.html %}
	</body>
</html>
